body {
    font-family: 'Tahoma', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

h1, h2, h3 {
    color: #00ccff;
}

p {
    line-height: 1.8;
    font-size: 18px;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #00ccff;
    padding-bottom: 10px;
}

